@font-face{
    
    font-family: "OldStandardTT-Bold.ttf";
    src:url(./fonts/OldStandardTT-Bold.ttf);
    font-family: "OldStandardTT-Regular.ttf";
    src:url(./fonts/OldStandardTT-Regular.ttf)
}
.text1{
    font-family: "OldStandardTT-Bold.ttf";
    font-weight: 700;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.text2{
    color: #000;
    font-family: "OldStandardTT-Regular.ttf";
    font-size: 16px;;
    font-weight: 400;
}